.contact{
  height: 75vh;
  position: relative;
  padding: 80px;
}

.contact-background{
  width: 20px;
  height: 90%;
  background: linear-gradient(
    to left,
    rgb(12, 9, 10),
    rgb(190, 31, 79)
    );
  position: absolute;
}

.contact-wrapper{
 padding: 50px;
 display: flex;
}

.animation{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 42vh;
  overflow: hidden;
  margin-left: -100px;
  margin-top: 100px;
}

.contact-left{
  flex: 1;
}

.contact-right{
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact-title{
  font-size: 60px;
  width: 80%;
}

.contact-info-item{
  display: flex;
  align-items: center;
}

.contact-desc{
  align-items: left;
  font-weight: 200;
}



@media screen and (max-width: 800px) {

  .animation{
    min-height: 30vh;
    margin-left: -100px;
    margin-top: 0;
  }

  .contact{
    padding: 0px;
    height: 120vh;
  }

  .contact-wrapper {
    flex-direction: column;
    padding: 0px 50px;
  }

  .contact-title{
    font-size: 30px;
  }

  .contact-info-item{
    margin: 20px 0px;
    width: 100%;
  }

  .contact-desc{
    display: none;
  }

  form{
    margin-top: 0px;
    display: flex;
    flex-wrap: wrap;
  }

  input{
    width: 35%;
    height: 40px;
    margin: 10px;
    margin-left: 0;
  }
}