.cards{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding-right: 10%;
}

.card{
  cursor: pointer;
  border-radius: 15px;
  padding: 2%;
  height: 7vh;
  margin-top: 15%;
  width: 16%;
  text-align: center;
  background: radial-gradient(
    rgb(100, 34, 53),

    rgb(8, 5, 6)
    );
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.icon{
  color: rgb(255, 255, 255);
  width: 100%;
  font-size: 1.3rem;
  margin-top: 5px;
}


@media screen and (max-width: 800px) {
  .cards{
    padding-right: 0%;
  }
  .card {
    width: 40%;
    font-size: small;
  }
}