.about{
  display: flex;
  position: relative;
  align-items: center;
  width: 90%;
  height: 75vh;
  border-radius: 50px;
  margin-left: 80px;
}

.about-left{
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100%;
}

.about-right{
  flex: 1;
  max-height: 600px;
  overflow-y: auto;
}



.me-img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: rotate(0);
  border-radius: 30px;
}

.about-card{
  width: 50%;
  height: 50vh;
  border-radius: 30px;
  position: absolute;
  background-color: rgb(37, 34, 34);
}

.me-img:hover{
  transform: rotate(10deg);
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.about-content{
  margin: 20px 20px 0px 0px;
  font-weight: 200;
  font-size: larger;
}


@media screen and (max-width: 800px) {
  .about {
    flex-direction: column;
    text-align: center;
    margin-left: 22px;
  }

  .about-left {
    width: 100%;
  }

  .about-card {
    height: 30vh;
  }

  .about-right{
    padding: 20px;
    margin-bottom: 20px;
  }

  .about-content{
    margin: 0px;
    font-weight: 100;
    font-size: larger;
  }

}

