.intro{
  display:flex;
  height: 100vh;
  padding: 80px;
}

.intro-right{
  flex:1;
}
.intro-left{
  flex:1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.intro-left-wrapper{
  padding:50px;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.intro-intro{
  font-size: 50px;
  font-weight: 300;

  background: linear-gradient(121.57deg, #a39898 18.77%, rgba(41, 35, 36, 0.66) 60.15%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.intro-name{
  font-size: 60px;
  background: linear-gradient(121.57deg, #977373 18.77%, rgba(117, 47, 62, 0.66) 60.15%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.intro-title{
  height: 70px;
  overflow: hidden;
}

.intro-title-item{
  height: 50px;
  font-size: 30px;
  font-weight: bold;
  color: rgb(190, 31, 79);
}

.intro-title-wrapper{
  height: 100%;
  animation: move 10s ease-in-out infinite alternate
}

@keyframes move {
  25% {
    transform: translateY(-50px);
  }
  50% {
    transform: translateY(-100px);
  }
}
.intro-background{
  clip-path: polygon(74% 0, 74% 20%, 100% 20%, 58% 71%, 73% 70%, 71% 100%, 86% 47%);
  background: linear-gradient(
    to left,
    rgb(12, 9, 10),
    rgb(190, 31, 79)
    );
  width: 2000px;
  height: 90%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 0;
}

@media screen and (max-width: 800px) {
  .intro {
    flex-direction: column;
  }

  .intro-left-wrapper {
    padding: 10px;
    align-items: center;
    text-align: center;
    text-align: center;
    height: 100%;
  }
  .intro-name{
    font-size: 30px;
  }

  .intro-desc{
    display: none;
  }

  .intro-title-item{
    height: 25px;
    font-size: 12px;
    font-weight: bold;
    color: rgb(190, 31, 79);
    margin-bottom: 10px;
  }

  .intro-background{
  clip-path: polygon(74% 0, 74% 20%, 100% 20%, 58% 71%, 73% 70%, 71% 100%, 86% 47%);
  }
  
}